.main{
    margin-bottom: 30px;
    position: relative;
}
.grid{
    position: relative;
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 1190px;
}
.main-banner{
    overflow: hidden;
    width: 952px;
    height: 430px;
    background: #fff;
    z-index: 10;
    float: left;
    position: relative;
}

.banner-list{
    height: 100%;
    position: relative;
    li{
        width: 100%;
        height: 100%;
        position: absolute;
        left: -952px;
    }
}
.left{
    display: inline-block;
    position: absolute;
    left: 210px;
    top: 185px;
    width: 20px;
    height: 60px;
    cursor: pointer;
    z-index: 5;
    background: url(../images/index_new_icos.png) no-repeat -125px -31px;
}
.right{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 185px;
    width: 20px;
    height: 60px;
    cursor: pointer;
    z-index: 5;
    background: url(../images/index_new_icos.png) no-repeat -158px -31px;
}
.circular{
    position: absolute;
    left: 50%;
    margin: 10px auto 0;
    margin-left: -55px;
    height: 15px;
    text-align: center;
    bottom: 10px;
    padding: 1px 15px 2px;
    border-radius: 50px;
    background-color: rgba(255,255,255,.5);
}
.circular-btn{
    display: inline-block;
    overflow: hidden;
    margin: 1px 5px 0;
    width: 12px;
    height: 12px;
    background: #b6b6b6;
    border-radius: 50%;
    cursor: pointer;
}
.circular-btnon{
    background: #ff4949;
}
.main-right{
    width: 230px;
    margin-top: 1px;
    background-color: #fff;
    float: right;
}
.main-login{
    padding: 10px;
    text-align: center;
    color: #666;
}
.user-img{
    width: 66px;
    height: 66px;
    margin: 0 auto;
    overflow: hidden;
    img{
        border: 0;
        vertical-align: middle;
    }
}
.user-hd{
    font-size: 12px;
    width: 190px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px 0;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rank{
    line-height: 30px;
    height: 30px;
    padding: 5px 10px 0;
    font-size: 12px;
}
.sign-wrap{
    text-align: center;
    padding: 9px 0 0;
}
.sign-wrap a{
    display: inline-block;
    color:#fff;
    margin: 0 5px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 11px;
    background-color: #2979ff;
}
.main-serve{
    border-bottom: 1px #eaeaea solid;
    height: 60px;
    border-top: 1px #eaeaea solid;
    overflow: hidden;
    a{
        width: 50%;
        padding: 8px 0;
        text-align: center;
        margin-left: -1px;
        border-left: 1px #eaeaea solid;
        color: #666;
    }
}
.serve-left,.serve-right{
    float: left;
    &:hover{
        color: #2979ff;
    }
    &:hover ssg-icon{
        background-position: -36px -73px;
    }
}
.serve-left:hover .club-icon{
    background-position:-36px -40px 
}
.serve-right:hover .ssg-icon{
    background-position:-36px -73px 
}
.club-icon,.ssg-icon{
    width: 28px;
    height: 22px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
}
.club-icon{
    background: url(../images/index_new_icos.png) no-repeat 0 -40px;
}
.ssg-icon{
    background: url(../images/index_new_icos.png) no-repeat 0 -73px;
}
.main-notice{
    padding: 0 10px 10px;
}
.notice-head{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px #eaeaea solid;
    span{
        float: left;
        border-bottom: 1px #2979ff solid;
        color: #333;
    }
    a{
        float: right;
        color: #666;
        &:hover{
            color:#2979ff
        }
    }
}
.notice-body{
    padding-top: 8px;
    li{
        height: 22px;
        line-height: 22px;
        overflow: hidden;
            a{
                width: 100%;
                color:#666;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }
        &:hover a{
            color:#2979ff
        }
    }
}
.main-guarantee ul{
    border-top: 1px #eaeaea solid;
    overflow: hidden;
}
.main-guarantee li{
    float: left;
    height: 40px;
    line-height: 40px;
    border-right: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid;
    width: 50%;
    margin-right: -1px;
    margin-bottom: -1px;
    text-align: center;
    &:hover span{
        color: #2979ff
    }
    i{
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 3px;
    }
    span{
        color: #666;        
    }
}
.icon1{
    background: url(../images/index_new_icos.png) no-repeat 0 -131px;
}
.icon2{
    background: url(../images/index_new_icos.png) no-repeat -36px -131px;
}
.icon3{
    background: url(../images/index_new_icos.png) no-repeat 0 -164px;
}
.icon4{
    background: url(../images/index_new_icos.png) no-repeat -36px -164px;
}
.ad{
    width: 1190px;
    margin: 0 auto;
    padding-bottom: 18px;
}
.salehot{
    margin-bottom: 30px;
}
.salehot-body{
    margin: 0 auto;
    width: 1190px;
    ul{
        margin-left: -10px;
        li{
            width: 290px;
            height: 150px;
            position: relative;
            float: left;
            overflow: hidden;
            margin-left: 10px;
            &:hover img{
                transform: translateX(-10px);
            }
            img{
                width: 300px;
                height: 150px;
                transition: transform .2s;
            }
        }
    }
}
.jptj{
    margin-bottom: 30px;
}
.jptj-body{
    margin: 0 auto;
    width: 1190px;
}
.tj-head{
    background-color: #2979ff;
    height: 60px;
    line-height: 60px;
    border-radius: 10px 10px 0 0;
    padding: 0 18px;
    h3{
        float: left;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        i{
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 6px;
            vertical-align: middle;
            background: url(../images/index_new_icos.png) no-repeat -37px -231px;
        }
    }
}
.tj-body{
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}
.tj-banner{
    float: left;
    width: 220px;
    overflow: hidden;
    &:hover img{
        transform: translateX(-10px);
    }
    img{
        width: 230px;
        height: 400px;
        transition: transform .2s;
    }
}
.tj-list{
    float: right;
    overflow: hidden;
    width: 930px;
    position: relative;
    z-index: 5;
}
.borderx1,.borderx2{
    position: absolute;
    overflow: hidden;
    background-color: #eaeaea;
    width: 1px;
    height: 100%;
    z-index: 10;
}
.borderx1{
    left: 309px;
}
.borderx2{
    left: 618px;
}
.bordery{
    position: absolute;
    overflow: hidden;
    background-color: #eaeaea;
    top: 200px;
    width: 920px;
    height: 1px;
    z-index: 10;
}
.tj-item{
    float: left;
    width: 270px;
    padding: 20px;
    height: 160px;
    position: relative;
    background-color: #fff;
}
.tags{
    background: #FF4400; 
    font-size: 12px;
    position: absolute;
    padding: 2px 5px;
    color: #fff;
    right: 10px;
    top: 10px;
}
.tj-img{
    float: left;
    margin: 20px 20px 0 0;
    width: 135px;
    height: 135px;
    &:hover img{
        transform: translateX(5px);
    }
    img{
        transition: transform .5s;
    }
}
.tj-imgname{
    width: 112px;
    height: 36px;
    color:#666;
    float: left;
    margin-top: 50px;
    margin-bottom: 12px;
    &:hover{
        color:#2979ff;
    }
}
.tj-price{
    font-size: 14px;
    color: #ff4949;
    i{
        font-size: 12px;
    }
}
.channals{
    margin-bottom: 30px;
}
.channals-body{
    margin: 0 auto;
    width: 1190px;
}
.channals-bodywrap{
    margin-left: -10px
}
.channals-box{
    float: left;
    width: 390px;
    margin-left: 10px;
}
.box-head{
    height: 60px;
    line-height: 60px;
    border-radius: 10px 10px 0 0;
    padding: 0 18px;
    h3{
        float: left;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }
}
.box-body{
    padding: 0 10px 10px;
    background-color: #fff;
    height: 502px;
    overflow: hidden;
}
.box1 .box-head{
    background: #7aa58f;
}
.box2 .box-head{
    background: #9aa76f;
}
.box3 .box-head{
    background: #c8af64;
}
.body-top{
    overflow: hidden;
    position: relative;
    height: 252px;
}
.line-x{
    position: absolute;
    top: 126px;
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: #eaeaea;
    z-index: 10;
}
.top-block{
    display: block;
    padding: 18px 0;
    position: relative;
    &:hover img{
        transform: translateX(-5px);
    }
    &:hover p{
        color: #2979ff
    }
    img{
        float: right;
        width: 90px;
        height: 90px;
        transition: transform .5s;
    }
    h4{
        margin-right: 100px;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        background: rgba(255,255,255,.8);
        margin-bottom: 10px;
    }
    p{
        height: 36px;
        margin-right: 100px;
        color: #999;
        padding: 0 15px 0 8px;
        position: relative;
        z-index: 100;
    }
}
.blue-block{
    display: inline-block;
    width: 2px;
    height: 14px;
    margin-right: 4px;
    background-color: #2979ff;
    vertical-align: middle;
}
.body-bottom{
    float: left;
    margin-top: 10px;
    width: 105%;
}
.bottom-box{
    float: left;
    width: 180px;
    margin-right: 10px;
    overflow: hidden;
    &:hover img{
        transform: translateX(-5px);
    }
    img{
        width: 190px;
        height: 240px;
        vertical-align: middle;
        transition: transform .5s;
    }
}
.customized{
    overflow: hidden;
    position: relative;
    height: 252px;
    a{
        display: block;
        padding: 18px 0;
        position: relative;
        &:hover p{
            color: #2979ff
        }
        &:hover .link-btn{
            color: #2979ff;
            border-color: #2979ff
        }
        &:hover img{
            transform: translateX(-5px);
        }
        h4{
            margin-right: 100px;
            font-size: 14px;
            font-weight: 400;
            color: #000;
            background: rgba(255,255,255,.8);
            margin-bottom: 10px;
        }
        p{
            height: 56px;
            width: 210px;
            color: #999;
            margin-right: 100px;
            padding: 0 15px 0 8px;
            position: relative;
            z-index: 100;
        }
        img{
            float: right;
            width: 135px;
            height: 150px;
            margin-top: -21px;
            transition: transform .5s;
        }
        .link-btn{
            position: absolute;
            border: 1px solid #9aa76f;
            height: 24px;
            line-height: 24px;
            color: #9aa76f;
            padding: 0 10px;
            border-radius: 2px;
            top: 129px;
            left: 10px;
        }
    }
}
.help-choice{
    padding-top: 10px;
    height: auto;
    position: relative;
    overflow: hidden;
}
.bg-linex{
    top: 256px;
    position: absolute;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background-color: #eaeaea;
    z-index: 10;
}
.bg-liney{
    position: absolute;
    left: 185px;
    height: 100%;
    width: 1px;
    overflow: hidden;
    background-color: #eaeaea;
    z-index: 10;
}
.help-choice a{
    float: left;
    width: 50%;
    height: 210px;
    display: block;
    padding: 18px 0;
    position: relative;
    &:hover p{
        color: #2979ff
    }
    h4{
        font-size: 14px;
        font-weight: 400;
        color: #000;
        margin-bottom: 10px;
        padding-left: 15px;
    }
    p{
        margin: 0 15px;
        color: #999;
        position: relative;
        z-index: 100;
        height: 36px;
    }
    img{
        position: absolute;
        width: 160px;
        height: 120px;
        margin-left: -80px;
        left: 50%;
        bottom: 15px;
    }
}
.ypzj{
    margin-bottom: 30px;
}
.ypzj-wrap{
    margin: 0 auto;
    width: 1190px;
}
.ypzj-head{
    position: relative;
    height: 46px;
    line-height: 46px;
    background-color: #fff;
    h3{
        float: left;
        position: absolute;
        height: 56px;
        top: -10px;
        line-height: 56px;
        background-color: #2979ff;
        border-radius: 10px 10px 0 0;
        padding: 0 18px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        i{
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 6px;
            vertical-align: middle;
            background: url(../images/index_new_icos.png) no-repeat 0 -270px;
        }
    }
}
.card{
    margin-left: 156px;
    overflow: hidden;
    li{
        float: left;
        position: relative;
        border-bottom: 2px #eaeaea solid;
        margin-left: -1px;
        a{
            float: left;
            width: 128px;
            text-align: center;
        }
    }
}
.line-short{
    position: absolute;
    top: 12px;
    left: 0;
    width: 1px;
    height: 23px;
    background-color: #e0e0e0;
    vertical-align: middle;
}
.card-title{
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #999;
}
.card-icon{
    display: inline-block;
    width: 25px;
    height: 40px;
    overflow: hidden;
    vertical-align: middle;
}
.icon1{
    background: url(../images/index_new_icos.png) no-repeat -25px -356px;
}
.icon2{
    background: url(../images/index_new_icos.png) no-repeat -175px -356px;
}
.icon3{
    background: url(../images/index_new_icos.png) no-repeat 0 -356px;
}
.icon4{
    background: url(../images/index_new_icos.png) no-repeat -50px -356px;
}
.icon5{
    background: url(../images/index_new_icos.png) no-repeat -75px -356px;
}
.icon6{
    background: url(../images/index_new_icos.png) no-repeat -100px -356px;
}
.icon7{
    background: url(../images/index_new_icos.png) no-repeat -125px -356px;
}
.icon8{
    background: url(../images/index_new_icos.png) no-repeat -150px -356px;
}
.card-body{
    background-color: #fff;
    padding: 10px;
}
.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8{
    display: none
}
.show-banner{
    float: left;
    width: 220px;
    overflow: hidden;
    &:hover img{
        transform: translateX(-10px);
    }
    img{
        width: 230px;
        height: 332px;
        transition: transform .2s;
    }
}
.show-item{
    position: relative;
    float: right;
    width: 940px;
    overflow: hidden;
}
.show-linex{
    position: absolute;
    overflow: hidden;
    background-color: #eaeaea;
    z-index: 10;
    width: 100%;
    height: 1px;
    top: 166px;
}
.show-liney{
    position: absolute;
    overflow: hidden;
    background-color: #eaeaea;
    z-index: 10;
    width: 1px;
    top: 15px;
    height: 308px;
}
.liney1{
    left: 235px;
}
.liney2{
    left: 470px;
}
.liney3{
    left:705px
}
.show-a{
    float: left;
    width: 235px;
    height: 166px;
    position: relative;
    &:hover img{
        transform: translateX(-5px);
    }
    &:hover .show-txt{
        color: #2979ff
    }
    img{
        position: absolute;
        z-index: 5;
        width: 110px;
        height: 110px;
        right: 10px;
        bottom: 10px;
        transition: transform .5s;
    }
}
.show-txt{
    position: absolute;
    z-index: 10;
    width: 112px;
    height: 36px;
    top: 25px;
    left: 30px;
    color:#666;
}
.show-price{
    font-size: 14px;
    color: #ff4949;
    position: absolute;
    z-index: 10;
    top: 65px;
    left: 30px;
    i{
        font-size: 12px;
    }
}
.saying{
    margin-bottom: 20px;
}
.saying-body{
    margin: 0 auto;
    width: 1190px;
}
.saying-head{
    background-color: #2979ff;
    height: 60px;
    line-height: 60px;
    border-radius: 10px 10px 0 0;
    padding: 0 18px;
    h3{
        float: left;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        i{
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 6px;
            background: url(../images/index_new_icos.png) no-repeat -41px -271px;
            vertical-align: middle;
        }
        span{
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            line-height: 56px;
        }
    }
}
.lb-body{
    padding: 10px 0 0;
}
.lb-box{
    overflow: hidden;
    width: 1190px;
    height: 374px;
    position: relative;
}
.lb-list{
    width: 1800px;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
}
.lb-item{
    transition: height linear .3s;
    margin-right: 10px;
    float: left;
    width: 290px;
    background-color: #fff;
    padding-bottom: 10px;
    overflow: hidden;
    &:hover{
        box-shadow: 0 0 6px #aaa;
    }
    &:hover img{
        transform: scale(1.05);
    }
    img{
        transition: transform 1s,-webkit-transform 1s;
    }
}
.lb-txt{
    display: block;
    margin: 10px 0;
    padding: 0 10px;
    &:hover .txt-head{
        color: #2979ff
    }
    &:hover .describe{
        color: #2979ff
    }
}
.txt-wrap{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.txt-head{
    float: left;
    width: 60%;
    overflow: hidden;
    color: #999;
}
.txt-price{
    float: right;
    font-size: 12px;
    color: #ff4949;
}
.describe{
    color: #333;
    margin: 10px 0;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.date{
    padding: 0 10px;
    line-height: 24px;
    text-align: right;
    color: #999;
    font-size: 12px;
    line-height: 24px;
}
.box-btn{
    display: inline-block;
    top: 120px;
    width: 22px;
    height: 50px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    vertical-align: middle;
}
.prev{
    left: 0;
    background: url(../images/index_new_icos.png) no-repeat -42px -304px;    
}
.next{
    right: 0;
    background: url(../images/index_new_icos.png) no-repeat -65px -304px;    
}
.recommend{
    margin-bottom: 20px;
}
.recommend-body{
    margin: 0 auto;
    width: 1190px;
}
.foryou-head{
    background-color: #2979ff;
    height: 60px;
    line-height: 60px;
    border-radius: 10px 10px 0 0;
    padding: 0 18px;
    h3{
        float: left;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        i{
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 6px;
            background: url(../images/index_new_icos.png) no-repeat 0 -313px;
            vertical-align: middle;
        }
    }
}
.foryou-body{
    padding: 10px 0;
    overflow: hidden;
}
.recommend-list{
    margin: -10px 0 0 -10px;
}
.recommend-item{
    margin: 10px 0 0 10px;
    width: 230px;
    padding-bottom: 10px;
    float: left;
    position: relative;
    background-color: #fff;
    &:hover{
        box-shadow: 0 0 6px #aaa;
    }
    &:hover img{
        transform: translateY(-5px);
    }
    &:hover .item-txt{
        color: #2979ff
    }
}
.item-link{
    display: block;
    padding: 10px;
    img{
        display: block;
        margin: 17px auto;
        width: 160px;
        height: 160px;
        transition: transform .4s ease;
        transform: translateY(0);
    }
}
.item-txt{
    color: #666;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.recommend-price{
    padding: 10px;
    font-size: 14px;
    color: #ff4949;
    i{
        font-size: 12px;
    }
}


