@import "reset";
body{background: #ffff}
.head{
    width: 100%;
    overflow: hidden;
    min-width: 1000px;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
}
.head-body{
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    width: 1000px;
    zoom: 1;
    ul{
        float: right;
        padding: 10px 0 0 0;
        li{
            float: left;
            padding-left: 30px;
            padding-bottom: 0px;
            padding-top: 20px;
            a{
                color: #005aaa;
                font-size: 14px;
                padding-left: 10px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    h2{
        left: 0px;
        top: 10px;
        font-size: 20px;
        position: relative;
        font-weight: normal;
        float: left;
    }    
}
h1{
    float: left;
    width: 320px;
    height: 49px;
    padding: 0 0 0 10px;
    img{
        vertical-align: middle;
    }
}
.totop{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-indent: -999em;
    overflow: hidden;
    opacity: .9;
    box-shadow: 0 0 6px #aaa;
    background: url(../images/index_new_icos.png) no-repeat right -191px;
    &:hover{
        background-position: right -148px;
        opacity: 1;
    }
}
.copy{
    padding-bottom: 15px;
}
.copy-body{
    margin: 0 auto;
    width: 1190px;
    p{
        font-size: 12px;
        margin: 6px 0;
        text-align: center;
        color: #999;
    }
    .honor{
        margin: 36px 0 6px;
        text-align: center;
        color: #999;
        a{
            margin: 0 6px;
            display: inline-block;
        }
    }    
}
.copy-links{
    margin-bottom: 10px;
    text-align: center;
    a{
        color: #666;
        &:hover{
            color:#2979ff;
        }
    }
}
.copy-line{
    display: inline-block;
    background-color: #c7c7c7;
    margin: 0 6px;
    width: 1px;
    height: 10px;
}
.tipbar{
    position: fixed;
    right: 5px;
    bottom: 40px;
    width: 60px;
    z-index: 100;
}
.right-service{
    margin-bottom: 10px;
    background-color: #fff;
    opacity: .9;
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -999em;
    overflow: hidden;
    box-shadow: 0 0 6px #aaa;
    background: url(../images/index_new_icos.png) no-repeat right -238px;
    &:hover{
        background-position: right -288px;
        opacity: 1;
    }
}
