@import "reset";
body{background: #ffff}
.head{
    width: 100%;
    overflow: hidden;
    min-width: 1000px;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
}
.head-body{
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    width: 1000px;
    zoom: 1;
    ul{
        float: right;
        padding: 10px 0 0 0;
        li{
            float: left;
            padding-left: 30px;
            padding-bottom: 0px;
            padding-top: 20px;
            a{
                color: #005aaa;
                font-size: 14px;
                padding-left: 10px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
h1{
    float: left;
    width: 320px;
    height: 49px;
    padding: 0 0 0 10px;
    img{
        vertical-align: middle;
    }
}
h2{
    left: 0px;
    top: 10px;
    font-size: 20px;
    position: relative;
    font-weight: normal;
}
.process{
    width: 100%;
    height: 96px;
    background: #f2f2f2;
    position: relative;
}
.process-body{
    width: 1000px;
    margin: 0 auto;
    padding: 31px 0;
    overflow: hidden;
    text-align: center;
}
.step{
    width: 156px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    font-size: 14px;
    float: left;
    i{
        float: left;
        margin-left: 15px;
        font-size: 18px;
    }
    span{
        float: right;
        margin-right: 45px;
    }
}
.finished{
     background: url(../images/rgstep_1.png) no-repeat 100%;
}
.unfinished{
     background: url(../images/rgstep_2.png) no-repeat 100%;
}
.right-btn{
    width: auto;
    float: right;
    margin-right: 10px;
    height: 34px;
    line-height: 34px;
    i{
        width: 1px;
        height: 31px;
        background: #dfdfdf;
        display: inline-block;
        margin: -2px 0 0 0;
        vertical-align: middle;
    }    
}
.user-log{
    margin-right: 10px;
    background: #2979ff;
    color: #FFFFFF;
    border: none;
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
}
.wdz-log{
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #f2f2f2;
    color: #333333;
    margin-left: 10px;
    &:hover{
        color: #2979ff;
        text-decoration: underline;
    }
}
.info{
    width:100%;
    padding-bottom: 50px;
}
.info-body-wrap{
    margin: 0 auto;
    width: 770px;
    font-size: 14px;
}
.info-body{
    height: 410px;
    position: relative;
    margin: 0 auto;
    width: 770px;
}
.explain{
    background-color: #f6f6f6;
    position: absolute;
    z-index: 3;
    right: -115px;
    top: 24px;
    width: 252px;
    font-size: 14px;
}
.explain-body{
    padding: 15px 10px 5px 15px;
    a{
        padding-left: 140px;
        &:hover{
            color: #2979ff;
            text-decoration: underline;
        }
    }
}
.tit{
    color: #797979;
    margin-bottom: 5px;
}
.cont{
    color: #b8b8b8;
    margin-bottom: 10px;
    p{
        line-height: 1.6;
    }
    li{
        padding-left: 12px;
        line-height: 1.6;
        background: url(../images/inputState-icon.png) no-repeat -20px -213px;
    }
}
.user-info{
    margin-left: 80px;
    width: 100%;
    padding-top: 12px;
}
.from-row{
    line-height: 16px;
    margin-top: 0;
    padding: 0;
    position: relative;
    width: auto;
    margin-bottom: 11px;
}
.label-tit{
    left: 103px;
    width: 73px;
    padding-right: 12px;
    line-height: 40px;
    position: static;
    display: inline-block;
    text-align: right;
}
.phone-input,.yzm-input,.sjyzm-input{
    border-color: #e6e6e6;
    width: 200px;
    padding: 10px 14px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    border: 1px #e6e6e6 solid;
    background-color: #fff;
    color: #a4a4a4;
    border-radius: 3px;
}
.yzm-pic{
    position: absolute;
    left: 217px;
    top: 3px;
    margin: 0 5px;
    height: 35px;
    width: 95px;
}
.phone-error,.yzm-error{
    display: none;
    padding-left: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 3px;
    font-size: 12px;
    color: #606060;
    background: url(../images/inputState-icon.png) no-repeat 0 2px;
}
.phone-yzm{
    display: inline-block;
    position: relative;
    width: 324px;
    height: 40px;
    line-height: 40px;
}
.send-btn{
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    height: 36px;
    border: none;
    position: absolute;
    bottom: 1px;
    right: 7px;
    padding: 0 10px;
    color: #ffffff;
    cursor: pointer;
    margin-top: -3px;
    background: #25bdff;
    border-radius: 3px;
    width: 95px;
}
.sjyzm-error{
    padding-left: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 3px;
    font-size: 12px;
    color: #606060;
    background: url(../images/inputState-icon.png) no-repeat 0 2px;
}
.xieyi{
    width: 355px;
    text-align: left;
    margin: 20px 0;
    line-height: 16px;
    font-size: 14px;
    a{
        color: #005aaa;
        &:hover{
            text-decoration: underline;
        }
    }
}
.change-way{
    line-height: 16px;
    margin-top: 0;
    padding: 0;
    position: relative;
    width: auto;
    margin-bottom: 11px;
    font-size: 14px;
}
.way-email{
    color: #005aa9;
    cursor: pointer;
}
.next{
    width: 126px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgb(0, 90, 169);
    color: #fff;
    margin-left: 89px;
    border-radius: 3px;
    cursor: pointer;
}
.popbox{
    width: 360px;
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -74px;
    margin-left: -180px;
    z-index: 9001;
    display: block;
    opacity: 1;
    padding: 0 0 10px;
    background-color: #f4f5f7;
    text-align: left;
}
.poptip{
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    margin-bottom: 1px;
    background: #005aaa;
    color: #fff;
    font-size: 1.34em;
    .guanbi{
        display: inline-block;
        position: absolute;
        top: 6px;
        right: 8px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        font-size: 2em;
        overflow: hidden;
        cursor: pointer;
        vertical-align: middle;
        background: url(../images/popboxbg.png) no-repeat 0 -100px;
    }
}
.totop{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-indent: -999em;
    overflow: hidden;
    opacity: .9;
    box-shadow: 0 0 6px #aaa;
    background: url(../images/index_new_icos.png) no-repeat right -191px;
    &:hover{
        background-position: right -148px;
        opacity: 1;
    }
}
/*-------------------- 下一步还没写----------------- */


.copy{
    padding-bottom: 15px;
}
.copy-body{
    margin: 0 auto;
    width: 1190px;
    p{
        font-size: 12px;
        margin: 6px 0;
        text-align: center;
        color: #999;
    }
    .honor{
        margin: 36px 0 6px;
        text-align: center;
        color: #999;
        a{
            margin: 0 6px;
            display: inline-block;
        }
    }    
}
.copy-links{
    margin-bottom: 10px;
    text-align: center;
    a{
        color: #666;
        &:hover{
            color:#2979ff;
        }
    }
}
.copy-line{
    display: inline-block;
    background-color: #c7c7c7;
    margin: 0 6px;
    width: 1px;
    height: 10px;
}
.tipbar{
    position: fixed;
    right: 5px;
    bottom: 40px;
    width: 60px;
    z-index: 100;
}
.right-service{
    margin-bottom: 10px;
    background-color: #fff;
    opacity: .9;
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -999em;
    overflow: hidden;
    box-shadow: 0 0 6px #aaa;
    background: url(../images/index_new_icos.png) no-repeat right -238px;
    &:hover{
        background-position: right -288px;
        opacity: 1;
    }
}
