/* 页面版新宽度变化 */
body{background: #fff}
.goods-navmine{
    display: none
}
.goods-category:hover .goods-navmine{
    display: block
}
#topbar .bar-wrap{
    width: 1000px;
    margin: 0 auto;
}
#head-wrap .head-grid{
    width: 1000px;
    margin: 0 auto;
}
#head-wrap .head-shopcar{
    right: 0
}
#head-wrap .head-search{
    width: 490px;
}
#head-wrap .search-box input{
    width: 419px;
}
#nav-bar .nav-bar{
    width: 1000px;
    margin: 0 auto;
}
.crumb{
    line-height: 30px;
    padding: 5px 4px;
    clear: both;
    a{
        margin: 0 4px;
        font-size: 12px;
        color: #666;
        &:hover{
            color:#2979ff;
        }        
    }
}
/* 主体样式 */
.big-wrap{
    background: #FFF;
}
.bigwrap-main{
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0 20px;
}
.car-empty{
    line-height: 2em;
    margin: 0 0 40px;
    padding: 10px 0 10px 330px;
    width: 400px;
    background: url(../images/cart_no_ico.png) no-repeat 200px 0;
}
.empty-txt{
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 10px;
}
.car-empty p a{
    color: #015ba7;
    margin: 0 2px;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
        color: #2979ff;
    }
}
.recommend{
    height: 292px;
    overflow: hidden;
    position: relative;
    width: 1000px;
}
.recommend h2{
    color: #d71249;
    font-size: 1.4em;
    font-weight: 400;
    height: 41px;
    line-height: 41px;
}
.tab-box{
    height: 251px;
    position: relative;
    h3{
        background-position: -84px -200px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        height: 26px;
        left: 95px;
        line-height: 23px;
        position: absolute;
        text-align: center;
        top: -30px;
        width: 74px;
        background: url(../images/icon-kinds.png) no-repeat -84px -200px;
    }
}
.tab-box .tab1-title{
    background-position: 0 -200px;
    color: #fff
}
.guess{
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    height: 260px;
    overflow: hidden;
    position: relative;
    width: 998px;
}
.tab-ul{
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 249px;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    li{
        background-position: 1000px 0;
        border-right: 1px solid #d0d0d0;
        float: left;
        height: 249px;
        position: relative;
        width: 249px;
    }
}
.tab-pic{
    display: block;
    padding: 14px 0 6px;
    text-align: center;
    img{
        display: inline-block;
    }
}
.goods-name{
    font-weight: 400;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    font-size: 16px;
}
.goods-name-txt{
    font-size: 14px;
    color: #26529b;
    display: block;
    height: 20px;
    overflow: hidden;
    padding: 2px 0 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 211px;
    &:hover{
        text-decoration: underline;
    }
}
.goods-info{
    display: block;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 211px;
    line-height: 20px;
    &:hover{
        color: #2979ff;
    }
}
.goods-price{
    color: #d71249;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 2px 0 0;
}
.tab2{
    display: none
}
.tab-box .tab2-title{
    left:175px;
}
/* 有商品时页面样式 */
.car-logo{
    margin: 0 auto;
    height: 95px;
    width: 1000px;
    overflow: hidden;
}
.logo-left{
    width: 220px;
    height: 95px;
    float: left;
    overflow: hidden;
    a{
        width: 135px;
        height: 39px;
        float: left;
        margin-right: 15px;
        overflow: hidden;
        margin: 28px 14px 0 0;
        background: url(../images/logo.png) no-repeat 0 0;
    }
}
.logo-name{
    width: 60px;
    float: left;
    line-height: 95px;
    font-size: 20px;
    color: #555555;
}
.pay-step{
    width: 628px;
    height: 95px;
    float: right;
}
.m-shopcar{
    width: 200px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin: 32px 0;
    float: left;
    text-align: center;
    background: #23519e;
}
.order{
    width: 184px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin: 32px 0;
    float: left;
    text-align: center;
    background: #a7b0b5;
}
.success-order{
    width: 200px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin: 32px 0;
    float: left;
    text-align: center;
    background: #a7b0b5;
}
.r-img{
    width: 20px;
    height: 30px;
    margin: 32px 0;
    display: inline-block;
    float: left;
    background: url(../images/cartsp.png) no-repeat 0 -368px;
}
.t-img{
    width: 20px;
    height: 30px;
    margin: 32px 0;
    display: inline-block;
    float: left;
    background: url(../images/cartsp.png) no-repeat 0 -403px;
}
.peisong-wrap{
    width: 998px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 31px;
    background: #fff;
    border: 1px #fff solid;
}
.peisong{
    height: auto;
    float: right;
    position: relative;
    span{
        display: inline-block;
        margin-right: 5px;
        float: left;
        font-size: 12px;
    }
    .peisong-box{
        font-size: 12px;
        height: 23px;
        line-height: 23px;
        border: 1px solid #ccc;
        float: left;
        padding: 0px 26px 0px 11px;
        border-radius: 2px;
        margin: -3px 0px;
        position: relative;
        margin-right: 0px;
        background: url(../images/d-bg.png) no-repeat  right -977px #fff;
    }
}
.new-goodswrap{
    width: 998px;
    height: auto;
    margin: 0 auto;
    background: #ffffff;
    clear: both;
    border-bottom: none;
}
.goods-form{
    width: 998px;
    height: auto;
    border: 1px solid #e2e2e2;    
}
.form-head{
    width: 998px;
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    color: #909090;
    text-align: right;
    overflow: hidden;
}
.form-ul li{
    float: left;
    text-align: right;
    font-size: 12px;
}
.select-all{
    width: 59px;
}
.wares{
    width: 144px;
}
.show-have{
    width: 236px;
}
.shopping-cost{
    width: 91px;
}
.quantity{
    width: 104px;
}
.isbenefit{
    width: 84px;
}
.subtotal-money{
    width: 132px;
}
.handle{
    width: 92px;
}
.form-body{
    background-color: rgb(234, 249, 255);
    padding: 20px 0 0 52px;
    height: 99px;
    position: relative;
    border-top: 1px solid #e2e2e2;
}
.list-chex{
    width: 14px;
    float: left;
}
.details{
    width: 270px;
    height: 88px;
    float: left;
    overflow: hidden;
    padding: 0 0 0 24px;
}
.details-img{
    width: 78px;
    height: 78px;
    float: left;
    background: #fff;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}
.goods-imgleft{
    width: 80px;
    height: 80px;
}
.details-name{
    margin-left: 10px;
    color: #555;
    display: inline-block;
    margin-top: 5px;
    overflow: hidden;
    width: 175px;
    height: 31px;
    line-height: 16px;
    &:hover{
        color: #2979ff;
    }
}
.Show-have{
    font-size: 12px;
    text-align: center;
    float: left;
    line-height: 25px;
    width: 108px;
}
.Unit-Price{
    float: left;
    line-height: 25px;
    width: 108px;
    i{
        color: #555555;
        margin-bottom: 5px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: verdana,arial;
    }
}
.number{
    height: auto;
    overflow: hidden;
    float: left;
    width: 108px;
}
.number-input{
    width: 86px;
    height: 22px;
    overflow: hidden;
}
.prev,.next{
    background: #fef9f5;
    border: 1px #ffe0c6 solid;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    cursor: pointer;
    color: #a2a2a2;
    display: inline-block;
}
.txt{
    font-size: 12px;
    width: 42px;
    height: 20px;
    line-height: 20px;
    float: left;
    color: #555555;
    text-align: center;
    border: 0;
    outline: none;
    background: #ffffff;
    border-top: 1px #ffe0c6 solid;
    border-bottom: 1px #ffe0c6 solid;
}
.only{
    width: 86px;
    height: 23px;
    clear: both;
    color: #d71249;
    line-height: 23px;
    text-align: center;
    background: #fff9f4;
}
.Subtotal{
    float: left;
    width: 108px;
    i{
        color: #d71249;
        display: inline-block;
        margin-top: 5px;
        font-weight: 600;
        font-family: verdana,arial;
    }
}
.Operation{
    float: left;
    margin-left: 3px;
    font-size: 12px;    
    em{
        display: inline-block;
        margin-bottom: 5px;
        font-weight: normal;
        cursor: pointer;
        margin-top: 5px;
        &:hover{
            color: #2979ff;
            text-decoration: underline;
        }
    }
}
.delet-item{
    font-weight: normal;
    cursor: pointer;
    &:hover{
        color: #2979ff;
        text-decoration: underline;
    }
}
.total{
    height: 39px;
    padding-right: 20px;
    background: #f5f5f5;
    border-bottom: 1px solid #e2e2e2;
}
.total-all{
    width: auto;
    height: 40px;
    line-height: 40px;
    float: right;
}
.total-color{
    color: #d71249;
}
.fenqi{
    width: 1000px;
    margin: 6px auto;
}
.huabei{
    text-align: right;
    line-height: 25px;
    padding: 0 10px 0 0;
    span{
        font-size: 12px;
    }
}
.mk-cut{
    vertical-align: top;
    margin: 0 5px;
}
.huabei-help{
    text-align: right;
    line-height: 25px;
    padding: 0 10px 0 0;
    a{
        padding-right: 18px;
        position: relative;
        z-index: 3;
        color: #0258a5;
        text-decoration: underline;
        background: url(../images/hb-helper.png) right 2px no-repeat;
    }
}
.balance{
    width: 1000px;
    height: 50px;
    line-height: 50px;
    color: #909090;
    margin: 0 auto;
    background: #f5f5f5;
    position: relative;
}
.banlance-body{
    width: 1000px;
    height: 50px;
    line-height: 50px;
    color: #909090;
    margin: 0 auto;
    background: #f5f5f5;
    position: relative;
}
.balance-left{
    font-size: 12px;
    margin-left: 20px;
    float: left;
    p{
        float: left;
    }
}
.select{
    width: 72px;
}
.delete-item{
    margin-right: 35px;
    cursor: pointer;
}
.remove{
    cursor: pointer;
}
.balance-right{
    height: 50px;
    float: right;
}
.balance-color{
    color: #d71249;
    font-size: 16px;
    font-family: verdana !important;
    font-weight: 700;
}
.pay{
    width: 134px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    background: #d71249;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
    text-shadow: 0 1px 2px #980d34;
    &:hover{
        background: #f01352;
    }
}